#rodape-do-site {
    background-color: brown;
}

h1 {
    color:cornflowerblue;
}

.nome-da-lojinha {
    color:crimson;
    background-color:blue;
}

h2 {
    background-color:darkgray;
}

.info-produtos {
    background-color:chocolate;
}